h1 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.success {
  display: none;
  background: #E1F8ED;
  padding: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.success.is-active {
  display: block;
}